* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-col: #ffc815;
    --text2-col: #000;
    --shad: 0px 0px 3px black
}

@font-face {
    font-family: 'roboto';
    src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "lit";
    src: url("/fonts/LilitaOne-Regular.ttf");
}

@font-face {
    font-family: "pop";
    src: url("/fonts//Poppins-Regular.ttf");
}


body {
    background-color: white;
}

.nav-section {
    display: flex;
    align-items: end;
    justify-content: space-between;
    color: black;
    padding: .5em 2em;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.295); */
    position: fixed;
    width: 100%;
}

.logo {
    padding: .2em;
}


.menu {
    display: none;
}

.logo {
    font-style: bold;
    text-decoration: none;
    font-family: lit;
    font-size: 2rem;
    color:var(--text-col)
}

.git:hover {
    background-color: white;
    border: 2px solid black;
    transition-duration: 1s;
}

/* .link1 a:last-child {
    background-color: red;
} */

ul.nav {
    display: flex;
    gap: 2em;
    list-style-type: none;
}

nav {
    display: none;
}

ul.nav li a {
    font-style: bold;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: pop;
    color: var(--text2-col);
    font-weight: bolder;
}

.nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding-left:  3em;
    padding-right: 3em ;
    height: 100vh;
}

.hero .cont {
    display: flex;
    flex-flow: column;
    gap: .5em;   
}

.img-cont {
    border-radius: 50%;
    display: flex;
    align-items: center;

}

.my-img {
    object-fit: cover;
    border-radius: 50%;
    /* box-shadow: 0px 0px 4px var(--text-col); */
    /* transform: rotate(45deg); */
}

.hero h1 {
    font-size: 3.5rem;
    font-family: lit;
    color: var(--text-col);
}

.hero h4, .hero p {
    font-size: 1.4em;
    font-family: pop;
    width: 100%;
}

.hero div.link1 {
    display: flex;
    gap: 1em;
}

.hero a.git, .hero a.goal {
    font-size: 1em;
    text-decoration: none;
    font-family: pop;
    padding: 0.5em 2em;
    padding-bottom: 0.5em;
    background-color: var(--text-col);
    color: var(--text2-col);
    border-radius: 3em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    /* margin: 1em; */
}

.hero a:last-child {
    background-color: white;
    border: 2px solid var(--text2-col);
}

.hero a:last-child:hover {
    background-color: var(--text-col);
    border: 0px;
    border: 2px solid var(--text2-col);
    transition-duration: 1s;
}

.hero .cont2 {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: flex-start;

}

i {
    font-size: 1.5em;
}


i.fa-facebook {
    color: rgb(58, 143, 212);
}

i.fa-whatsapp {
    color: rgb(138, 255, 20);
}

i.fa-linkedin {
    color: rgb(58, 143, 212);
}

.main-cont {
    display: flex;
    flex-flow: column;
    gap: .8em;
}

@media screen and (min-width: 300px) {

    .nav-section {
        position: absolute;
        top: 0;
        padding: 0.5em 1em;
        left: 0;
        align-items: center;
    }

    .hng, .keyword, .scrape {
        position: absolute;
        text-decoration: none;
        font-size: 0.8em;
        text-decoration: none;
        background-color: var(--text-col);
        color: var(--text2-col);
        font-family: pop;
        border-radius: 1em;
        padding: .5em 1em;
        font-weight: bold;
    }

    .hng {
        top: 15%;
        /* width: 150px; */
        padding-left: 1em;
        padding-right: 1em;
        left: 30%;
    }

    .scrape {
        top: 15%;
        /* width: 150px; */
        padding-left: 1em;
        padding-right: 1em;
        left: 65%;
    }

    .keyword {
        top: 38%;
        /* width: 150px; */
        padding-left: 1em;
        padding-right: 1em;
        left: 65%;
    }

    .slack-details {
        font-family: pop;
    }
    
    

    i.menu {
        display: block;
        height: 30px;
        width: 30px;
        background-size: cover;
        font-size: 1em;
        background-image: url("../images/bars.svg");
        cursor: pointer;
    }

    nav {
        display: none;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.808);
        width: 100%;
        gap: 1em;
        z-index: 20;
    }

    ul.nav {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 1em;
    }

    ul.nav li {
        padding: 1em 6em;
        background-color: var(--text-col);
        border-radius: 2em;
        box-shadow: 0px 0px 10px black;
    }

    ul.nav a:hover {
        text-decoration: none;
    }

    ul.nav li:hover, ul.nav li:active {
        transform: scale(1.2);
        transition-duration: 1s;
    }

    
    .my-img {
        /* display: none; */
        position: absolute;
        height: 100px;
        width: 100px;
        right: 1em;
        top: 70%;
        border: 2px solid black;
    }

    /* section */


    .cont2 {
        width: 20%;
        justify-content: flex-start;
    }

    .hero {
        height: 100vh;
        /* padding-left:  1.5em;
        padding-right: 1.5em ; */
    }

    .main-cont {
        /* 1.5ight: 100vh; */
        padding-top: 4em;
        padding-left: 0em;
        gap: 1em;
    }

    .slack-details1 {
        display: none;
    }

    section.hero1 h2 {
        text-align: center;
        font-family: pop;
        text-shadow: var(--shad);
        color: var(--text-col);
    }
    
    section.hero1 {
        padding-left: 1em;
        padding-right: 1em;
    }

    .hero1 h3 {
        color: white;
        text-align: center;
        margin-top: 1em;
        font-family: pop;
        color: var(--text-col);
        text-shadow: var(--shad);
    }

    .hero1 p {
        text-align: center;
        font-family: pop;
        line-height: 1.1em;
    }

    .hero1 .list {
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-flow: column;
    }

    .hero1 .list h3 {
        font-family: pop;
        color: white;
        text-shadow: var(--shad);
        text-align: center ;
        
    }

    .hero1 ul {
        margin-left: 2em;
        /* list-style-type: none; */
        font-weight: bold;
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        font-family: pop;
        line-height: 1.1em;
    }

    section.foot {
        background-color: var(--text-col);
        padding: 1.5em 2em;
        border-top-left-radius: 2em;
        border-top-right-radius: 2em;
        margin-top: 1em;
    }

    .foot ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style-type: none;
        justify-content: center;
        align-content: center;
        gap: .7em;
    }

    .foot a {
        text-decoration: none;
        font-family: pop;
        color: white;
        font-weight: bold;
        text-shadow: var(--shad);
    }

    h3.email {
        font-family: pop;
        font-size: 1.1em;
        margin-top: .2em;
    }

    h3.name {
        font-family: pop;
    }

    .foot a i, .foot i {
        margin-left: .2em;
        color: white;
        text-shadow: var(--shad);
        font-size: 1.1rem;
        margin-bottom: .2em;
    }

    .foot h2 {
        font-size: 1.2em;
        text-wrap: nowrap;
        font-family: pop;
    }
}

@media  screen and (min-width: 768px) {

    .nav-section ul.nav {
        display: flex;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row;
        height: 100%;
        position: relative;
        left: 0;
        top: 0;
        background-color: white;
        width: 100%;
        gap: 1em;
    }

    .hng, .keyword, .scrape {
        position: absolute;
        font-family: pop;
        font-size: 1.1rem;

        padding: 0.5em 2em;
        padding-bottom: 0.5em;
        background-color: var(--text-col);
        color: var(--text2-col);
        border-radius: 3em;
        font-weight: bolder;
        display: flex;

    }


    .hng:hover, .keyword:hover, .scrape:hover {
        transform: scale(1.1);
        transition-duration: 1s;
    }

    .hng {
        top: 20%;
        left: 56%;
        box-shadow: 0px 0px 8px black;
    }

    .scrape {
        top: 38%;
        left: 42%;
        box-shadow: 0px 0px 8px black;
    }

    .keyword {
        top: 65%;
        left: 55%;
        box-shadow: 0px 0px 8px black;
    }


    ul.nav {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 4em;
    }

    ul.nav li {
        padding: 0em 0em;
        background-color: transparent;
        border-radius: 0em;
        box-shadow: 0px 0px 0px transparent;
    }

    ul.nav a:hover {
        text-decoration: underline;
    }

    ul.nav li:hover, ul.nav li:active {
        text-decoration: underline;
    }
    

    .my-img {
        /* display: none; */
        position: relative;
        height: 350px;
        width: 263px;
        /* right: 1em;
        top: 70%; */
        border: 0px  none;
    }

    .nav-section {
        position: absolute;
        top: 0;
        padding: 1em 4em;
        left: 0;
    }
    

    i.menu {
        display: none;
        background-image: none;
    }

    .img-cont {
        display: block;
    }

    .img-cont-cont {
        display: block;
        position: absolute;
        right: 8%;
    }

    .my-img {
        display: block;
    }

    .hero {
        justify-content: space-between;
        /* gap: 0em; */
        padding-left:  4em;
        padding-right: 4em ;
    }

    .cont1 {
        justify-content: center;
        display: flex;
        flex-flow: column;
        gap: .5em;
        font-family: pop;
    }

    .hero1 {
        font-size: 1.5rem;
        padding-left: 4em;
        padding-right: 4em;
        /* height: 70vh; */
        padding-top: 0em;
        padding-bottom: 2em;
        display: flex;
        flex-flow: column;
        gap: .2em;
        /* background-color: #ffc81548; */
    }

    .hero1 .about p {
        font-size: 1.1rem;
    }

    .hero1 .goals1 {
        margin-top: 0.5em;
    }

    .hero1 li {
        font-size: 1.1rem;
    }

    .slack-details {
        font-family: pop;
        display: flex;
        flex-flow: column;
        gap: .5em;
        text-align: center;
        display: none;
    }

    .hero h4, .hero p {
        font-size: 1.4em;
        font-family: pop;
        width: 70%;
    }

    .hero1 h2 {
        font-family: pop;
        color: white;
        text-shadow: var(--shad);
    }

    .hero1 p {
        font-size: 0.8em;
        font-family: sans-serif;
        line-height: 1em;
        font-style: italic;
        width: 95%;
    }

    .hero1 .link {
        margin-top: 1.5em;
    }

    .hero1 .list ul {
        padding-left: 2em;
        list-style-type: disc;
        font-size: 0.8em;
        font-family: sans-serif;
    }

    .hero1 .list h3 {
        font-family: pop;
        font-size: 1em;
        color: white;
        text-shadow: var(--shad);
    }

    section.foot {
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: var(--text-col);
    }

    .foot ul {
        display: flex;
        width: 100%;
        font-family: pop;
        font-weight: bolder;
        justify-content: center;
        /* justify-content: space-between; */
        gap: 6em;
    }


    .foot div ul i {
        padding-right: .3em;
    }

    .foot a, .foot li {
        text-decoration: none;
        list-style-type: none;
        color: var(--text2-col);
        font-size: 1em;
        color: white;
        text-shadow: var(--shad);
    }

    .foot a:hover, .foot li:hover {
        transform: scale(1.4);
        transition-duration: 1s;
    }

    .foot i:hover {
        transform: scale(1);
        transition-duration: 1s;
    }

    i:hover, i:active {
        transform: scale(1.4);
        transition-duration: 0.5s;
        cursor: pointer;
    }

    .link1 i {
        transform: scale(1);
        transition-duration: 0;
        cursor: pointer;
    }

    .small {
        height: 250px;
        width: 250px;
        background-color: red;
    }
    
    .slack-details1 {
        display: block;
        margin-top: 1em;
        text-align: center;
        font-family: pop;
        padding: 1em;
    }


section.hero1 .about h2 {
    /* text-align: center; */
    font-family: pop;
    color: var(--text-col);
    text-shadow: var(--shad);
    
}

section.hero1 .about p {
    width: 50%;
}

.hero1 ul {
    font-family: pop;
    font-size: 0.8em;
    line-height: 1.1em;
}

section.hero1 {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    align-items: start;
}

.hero1 div h2 {
    text-align: left;
    font-family: poo;
}

.hero1 p {
    text-align: left;
}

.hero1 .list {
    margin-top: 1em;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-flow: column;
}

.hero1 .list h3 {
    font-family: pop;
    color: white;
    text-shadow: var(--shad);
    text-align: center ;
}

.hero1 ul {
    margin-left: 0em;
    list-style-type: none;
    font-weight: normal;
    margin-top: 1em;
    display: block;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

}


