* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-col: #ffc815;
    --text2-col: #000;
}

@font-face {
    font-family: 'roboto';
    src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "lit";
    src: url("/fonts/LilitaOne-Regular.ttf");
}

@font-face {
    font-family: "pop";
    src: url("/fonts//Poppins-Regular.ttf");
}


body {
    background-color: white;
}

.nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    color: black;
    padding: .5em 2em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.295);
    position: fixed;
    width: 100%;
}

.logo {
    padding: .2em;
}


.menu {
    display: none;
}

.logo {
    font-style: bold;
    text-decoration: none;
    font-family: lit;
    font-size: 2rem;
    color:var(--text-col)
}



ul.nav {
    display: flex;
    gap: 2em;
    list-style-type: none;
}

nav {
    display: none;
}

ul.nav li a {
    font-style: bold;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: pop;
    color: var(--text2-col);
    font-weight: bolder;
}

.nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding-left:  3em;
    padding-right: 3em ;
    height: 100vh;
}

.hero .cont {
    display: flex;
    flex-flow: column;
    gap: .5em;   
}

.img-cont {
    background-color: var(--text-col);
    border-radius: 50%;
    /* transform: rotate(-45deg);; */
    /* height: 500px; */
    display: flex;
    align-items: center;

}

.my-img {
    object-fit: cover;
    border-radius: 50%;
    /* box-shadow: 0px 0px 4px var(--text-col); */
    /* transform: rotate(45deg); */
}

.hero h1 {
    font-size: 3.5rem;
    font-family: lit;
    color: var(--text-col);
}

.hero h4, p {
    font-size: 1.4em;
    font-family: pop;
    width: 80%;
}

.hero div.link1 {
    display: flex;
    gap: 2em;
}

.hero a {
    font-size: 1.2em;
    text-decoration: none;
    font-family: pop;
    padding: 0.8em 2em;
    background-color: var(--text-col);
    color: var(--text2-col);
    border-radius: 3em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.hero a:last-child {
    background-color: white;
    border: 2px solid var(--text2-col);
}

.hero .cont2 {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;

}

i {
    font-size: 1.5em;
}

i.fa-facebook {
    color: rgb(58, 143, 212);
}

i.fa-whatsapp {
    color: rgb(138, 255, 20);
}

i.fa-linkedin {
    color: rgb(58, 143, 212);
}

.main-cont {
    display: flex;
    flex-flow: column;
    gap: 8em;
}

@media screen and (min-width: 368px) {

    .nav-section {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .nav-section ul.nav {
        display: none;
    }

    i.menu {
        display: block;
        height: 30px;
        width: 30px;
        background-size: cover;
        font-size: 1em;
    background-image: url("../images/bars.svg");

    }

    nav {
        display: block;
    }
    
    .my-img {
        display: none;
    }

    /* section */

    .hero {
        height: 100vh;
        align-content: center;
    }

    .main-cont {
        /* height: 100vh; */
        padding-top: 4em;
    }
}


